


div.floatCtro{ width:60px; height:350px; position:fixed; left:25px; top:160px;z-index:auto;}
div.floatCtro p{width:60px; text-align:center; height:40px; line-height:40px; font-size:15px; color:#7F9600; margin:0; padding:0; cursor:pointer; background:rgba(45,43,43,.43);border-radius:20px;}
div.floatCtro a{ display:inline-block; display:none; width:60px; height:60px; margin:10px 0 0 0; background:rgba(45,43,43,.43); color:#000;  vertical-align:middle; cursor:pointer;border-radius:20px;}
div.floatCtro a span{ display:block; width:28px; height:44px; line-height:22px; font-size:14px; line-height:22px; text-align:center; margin:8px 16px; _margin:-10px 0 0 16px;}
div.floatCtro a:hover{ background:#000; color:#fff; zoom:1;border-radius:20px;}
div.floatCtro p:hover{ background:#c40000; color:#fff;}
div.floatCtro p.cur{ background:#c40000; color:#fff;}